root = true

[*.{bash_profile,fish}]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

[*.{md,markdown}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.vim]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = false
